<footer class="footer bg-dark text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-1">&copy; 2025 Khodal - Hotel. All rights reserved.</p>
    <div class="social-icons">
      <a href="#" class="text-white mx-2"><i class="fa fa-facebook"></i></a>
      <a href="#" class="text-white mx-2"><i class="fa fa-twitter"></i></a>
      <a href="#" class="text-white mx-2"><i class="fa fa-instagram"></i></a>
      <a href="#" class="text-white mx-2"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</footer>
